@charset "UTF-8";
.header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  margin-top: -25px;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  transition: .3s;
  z-index: 2; }
  .header.float-active {
    transition: .3s;
    background: black;
    background: rgba(255, 255, 255, 0.8); }
  @media screen and (max-width: 414px) {
    .header {
      height: 60px;
      padding-right: 15px;
      padding-left: 15px; } }
  .header .title {
    font-size: 30px;
    font-weight: bold; }

.menu {
  display: flex;
  align-items: center;
  font-size: 24px; }
  .menu-item {
    margin-right: 20px; }
  .menu-link {
    -webkit-font-smoothing: initial; }
  .menu-item {
    margin-right: initial; }
  .menu-link {
    -webkit-font-smoothing: initial;
    display: block;
    padding: 15px;
    text-align: center; }
  @media screen and (max-width: 414px) {
    .menu {
      display: block;
      font-size: 30px; }
      .menu-item {
        margin-right: initial; }
      .menu-link {
        -webkit-font-smoothing: initial;
        display: block;
        padding: 15px;
        text-align: center; } }

.menu-trigger {
  display: none;
  transition: all .4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3; }
  @media screen and (max-width: 414px) {
    .menu-trigger {
      display: inline-block; } }
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #777;
    border-radius: 4px; }
    .menu-trigger span:nth-of-type(1) {
      top: 0; }
    .menu-trigger span:nth-of-type(2) {
      top: 14px; }
    .menu-trigger span:nth-of-type(3) {
      bottom: 0; }
  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg); }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0; }
  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-15px) rotate(45deg); }

@media screen and (max-width: 414px) {
  .nav-menu {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: .5s; }
    .nav-menu.active {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2; } }

.footer {
  background: #555;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -20px;
  height: 80px; }
  @media screen and (max-width: 414px) {
    .footer {
      font-size: 12px; } }

.page-title {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 20px;
  text-align: center;
  font-size: 32px; }

#main {
  border: none !important; }

.site-width {
  margin: 0 auto;
  width: 980px; }

#main {
  float: left;
  min-height: 600px; }

.page-1colum #main {
  width: 100%; }

.page-2colum #main {
  width: 760px; }

.page-logined #main {
  box-sizing: border-box;
  border: 5px solid #f1f1f1; }

#contents {
  overflow: hidden;
  margin: 20px auto; }
  @media screen and (max-width: 414px) {
    #contents {
      width: 100%; } }

.list > .title {
  padding-left: 10px;
  border-left: 6px solid; }

.panel-list {
  overflow: hidden;
  margin-right: -15px; }

.panel-list > .panel {
  float: left;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-right: 15px;
  min-height: 185px;
  width: 25%;
  color: #333;
  text-decoration: none;
  line-height: 1.2em; }

a.panel:hover {
  text-decoration: underline; }

.panel-list > .panel img {
  width: 100%; }

.panel-list > .panel .panel-title {
  margin: 0; }

.price {
  display: block;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; }

@media screen and (max-width: 414px) {
  .table {
    letter-spacing: 0em; } }

#sidebar {
  float: left;
  box-sizing: border-box;
  margin-right: 20px;
  padding: 15px;
  min-height: 600px;
  width: 200px;
  background: #f6f5f4; }
  @media screen and (max-width: 414px) {
    #sidebar {
      display: none; } }

#sidebar .title {
  text-align: left;
  font-size: 14px; }

#sidebar .selectbox {
  position: relative; }

#sidebar select {
  padding: 10px;
  width: 100%;
  border-color: #ccc;
  border-radius: 0;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

#sidebar .icn_select:after {
  position: absolute;
  top: 15px;
  right: 10px;
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid #333;
  border-right: 7px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 7px solid transparent;
  content: ""; }

.page-logined #sidebar {
  margin: 0 0 0 20px; }

.page-logined #sidebar > a {
  display: block;
  margin-bottom: 15px; }

.withdrawal {
  margin: 193px auto; }

.bgColor {
  background: #f8f7fc;
  box-shadow: 0px 0px 8px 2px #ddd inset; }

html,
body {
  width: 100%;
  color: #777;
  font-size: 16px;
  line-height: 1.6;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-size-adjust: 100%;
  letter-spacing: 0.1em; }

p,
a {
  -webkit-font-smoothing: antialiased; }

a {
  color: #777;
  text-decoration: none;
  transition: .3s; }

a:hover {
  color: #e3a8b1;
  transition: .3s; }
